# Ignore dependencies and build output
node_modules
build
dist

# Ignore Git files
.git
.gitignore

# Ignore local development files
# .env.local
# .env.production
# .env.uat
.env*
npm-debug.log



# Explicitly allow the production one
!.env.dev


# Ignore Docker files themselves
Dockerfile
.dockerignore

